<app-sidebar></app-sidebar>
<app-header></app-header>
<div class="content-wrapper" style="min-height: 680px;">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Places not verified</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
                        <li class="breadcrumb-item active">Places not verified</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>
    <div class="container my-2">
        <div class="row">
            <div class="col-12">
                <div class="alert alert-danger" [hidden]="!hasError">
                    {{ errorMessage }}
                </div>
                <div class="alert alert-success" [hidden]="!success">
                    {{ errorMessage }}
                </div>
            </div>
            <div class="col">
                <table class="table table-bordered">
                    <thead class="bg-dark text-light">
                        <tr>

                            <th width="20%">Name</th>
                            <th width="40%">Description</th>
                            <th>Notice</th>
                            <th>Category</th>
                            <th>Attachements</th>
                            <th>Operation</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let p of places">

                            <td>{{ p.Name }}</td>
                            <td>{{ p.Description.substring(0,100) }}</td>
                            <td>{{ p.Notice }}</td>

                            <td>{{ p.Category?.Name }}</td>
                            <td><img *ngIf="p.Attachement[0]" [src]="p.Attachement[0].Path" style="width: 100%; border-radius: 5px;" /> </td>
                            <!-- <td class="image-slider">
                            <mdb-carousel [isControls]="true" class="carousel slide" [animation]="'slide'">
                                <mdb-carousel-item>
                                    <div class="view" *ngFor="let item of Place?.Attachement">
                                        <img [src]="item.Path">
                                        <div class="mask rgba-indigo-light waves-light" mdbWavesEffect></div>
                                    </div>
                                </mdb-carousel-item>
                            </mdb-carousel>
                        </td> -->
                            <td>
                                <button class="btn btn-sm btn-success" (click)="checkPlace(p._id)" style="padding-left: 10px;
                                   padding-right: 10px;
                                   margin-bottom: 5px;"><i class="fas fa-check"></i> Verify</button>
                                <button class="btn btn-sm btn-danger" (click)="deletePlace(p._id)"><i class="fas fa-trash"></i> Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>